{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Consulteria{% endblock %}</title>
    <meta name="description" content="Because You Deserve Better Opportunities">
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    
</head>
<body>

<header class="header">
    <div class="logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="Consulteria Logo" class="logo-img">
        </a>
    </div>
    <nav class="nav">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'booking' %}">Consultations</a></li>
            <li><a href="{% url 'training' %}">Training</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer class="footer">
    <p>&copy; 2025 Consulteria. Your future deserves thoughtful direction.</p>
</footer>

</body>
</html>
